.app {
  background-color: var(--bg-light-secondary) !important;
  min-height: 100vh !important;
}

.post-container,
.header,
.auth-container,
.form-container {
  background-color: var(--bg-light-primary) !important;
}

.postLink {
  color: var(--text-light-primary) !important;
  text-decoration: none;
}
